<h1>Browse Recipes</h1>
<div class="container">
    <div class="row">
        <ul>
            <li>
                <a ui-sref="browseRecipes.viewSingle">Search by Recipe Name</a>
            </li>
            <li>
                <a ui-sref="browseRecipes.viewAll">Browse All Recipes</a>
            </li>
        </ul>
    </div>
    <div ui-view>
    </div>
</div>
