<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div ui-view='weeklyPlan'></div>
        </div>
        <div class="col-lg-6">            
            <div ui-view="searchRecipes" id="searchRecipes"></div>
        </div>
    </div>
</div>
